
// typeface: Oxygen - bulky font
// typeface: Overlock - stylish font

@import "breakpoints";

body{
	color: $text-color;
	font-family: 'Oxygen', sans-serif;
}

header{
	border-bottom: 8px solid $orange-color;
}

nav{
	width: 90%;
	max-width: 1200px;
	margin: 0.5rem auto;
	font-family: 'Overlock', Helvetica, serif;

	a{
		display: inline-block;
		margin-right: 2rem;
		text-decoration: none;
		font-size: 1.2rem;
		color: $text-color;

		&:hover{
			color: $orange-color;
		}
	}

	.active-tag{
		text-decoration: underline;
	}
}

footer{
	width: 100%;
	margin: 0 auto;
	margin-top: 2rem;
	padding: 2rem 0;

	background-color: $text-color;
	text-align: center;
	color: #F9F9F9;
	font-size: 0.8rem;
}


h1{
	font-family: 'Overlock', Helvetica, serif;
	font-weight: 700;
	color: #000;
}

h2{
	font-family: 'Overlock', Helvetica, serif;
	margin: 0 auto;
	color: $purple-color;
}

h3{
	font-family: 'Oxygen', Helvetica, sans-serif;
	font-size: 1rem;
	text-transform: uppercase;
	margin: 0 auto;
	margin-top: 1rem;
	color: darken($purple-color, 15%);
}

h4{
	font-family: 'Overlock', Helvetica, sans-serif;
	font-size: 1rem;
	text-transform: uppercase;
	margin: 0 auto;
	margin-top: 1rem;
	color: darken($purple-color, 15%);
}

.fa{
	color: $orange-color;

	&:hover{
		color: $purple-color;
	}
}

.fa-caret-left{
	position: absolute;
	top: 8%;
	left: 4rem;
}

.fa-caret-right{
	position: absolute;
	top: 8%;
	right: 4rem;
}

.buttons-page{
	left: 2.5rem;
}

.type-logo{
	font-family: 'Arimo', sans-serif;
}

.yellow{
	color: $yellow-color;
}

.orange{
	color: $orange-color;
}

.phone-container{
	position: relative;
}

.desktop-everything, .tablet-everything, .main-everything{
	position: relative;
}

.mobile-title-container{
	width: 100%;
	margin: 0 auto;
	padding: 0.5em 0;
	position: relative;
}

.main-container{
	width: 90%;
	max-width: 1200px;
	box-sizing: border-box;
	padding: 0.2rem 1rem;
	overflow: hidden;

	&:nth-child(even){
		margin-top: 2em;
	}
}

p{
	width: 90%;
	max-width: 500px;
	line-height: 1.6;
}

.first-paragraph{
	width: 100%;
	margin: 0.5em 0 2em 0;
}

.color1{
	background-color: $orange-color;
}

.color2{
	background-color: $yellow-color;
}

.color3{
	background-color: $purple-color;
}

.color4{
	background-color: $green-color;
}

.color5{
	background-color: $blue-color;
}

.color6{
	background-color: $pink-color;
}

.color7{
	background-color: $text-color;
}

.color8{
	background-color: $gray-color;
}

.mobile-pic{
	width: 95%;
	margin: 2rem auto;
	display: block;
}


.picture-container{
	 box-sizing: border-box;
	 padding: 1rem 0;

	 img{
	 	width: 99%;
	 	margin: 0 auto;
	 	display: block;
	 }
}

.logo-tablet{
	width: 500px;
	margin: 0 auto;
	display: block;
}

.logo-desktop{
	width: 600px;
	margin: 0 auto;
	display: block;
}

.colors-row, .icon-row{
	width: 100%;
	margin: 1em auto;
	overflow: hidden;
}

.icon-row{
	padding: 0 0.2rem;
}

.circle-container{
	width: 30%;
	float: left;
	margin-right: 3%;

	p{
		text-align: center;
		margin: 0.5em 0 0 0.2em;
	}
}

.white-icons{
	width: 99%;
	background-color: $orange-color;
}

.dropdown{
	margin-left: -1%;
}

.arimo{
	width: 80%;
	margin: 0;
	font-family: 'Arimo', sans-serif;
	font-size: 1.6rem;
}

.mont{
	width: 80%;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
}

.buttons-container{
	overflow: hidden;
}

.button-static{
	width: 45%;
	margin: 0 auto;
	box-sizing: border-box;
	border: 2px solid $yellow-color;
	background-color: #fff;
	color: $text-color;
	text-align: center;
	padding: 0.5em;
	float: left;
}

.button-hover{
	width: 45%;
	margin: 0 auto;
	box-sizing: border-box;
	border: 2px solid $yellow-color;
	background-color: lighten($yellow-color, 30%);
	color: $text-color;
	text-align: center;
	padding: 0.5em;
	float: right;
}

.form-container{
	margin: 0 auto;
	box-sizing: border-box;
	border: 2px solid $yellow-color;
	background-color: #fff;
	color: $text-color;
	text-align: center;
	padding: 0.5em;
}

.form-text{
	width: 99%;
	margin: 0 auto;
	box-sizing: border-box;
	background-color: $gray-color;
	line-height: 1.5;
	padding: 0.2em;
}










